In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../csv/final.csv')

In [3]:
df.head()

,Result,WhiteElo,BlackElo,Event_enc,ECO_enc,Termination_enc,TimeControl_enc
0,1,1901,1896,2,310,1,8
1,2,1641,1627,0,220,0,8
2,1,1647,1688,0,101,1,6
3,1,1706,1317,3,0,0,0
4,2,1945,1900,0,190,1,6

In [4]:
df.shape

(6186502, 7)

In [5]:
df1 = df[df['Result'] == 1]
df2 = df[df['Result'] == 2]
df3 = df[df['Result'] == 3]

In [6]:
print(df1.shape)
print(df2.shape)
print(df3.shape)

(3098312, 7)
(2901028, 7)
(187162, 7)

In [7]:
df1 = df1.sample(n = 2901028, random_state = 42)

In [8]:
df_sample = pd.concat([df1, df2], ignore_index = True)

df_sample

,Result,WhiteElo,BlackElo,Event_enc,ECO_enc,Termination_enc,TimeControl_enc
0,1,1721,1746,1,311,1,5
1,1,1319,1182,2,101,1,13
2,1,2007,1999,0,291,0,6
3,1,1734,1546,1,200,0,3
4,1,2148,1580,0,46,0,6
...,...,...,...,...,...,...,...
5802051,2,1511,1586,0,0,0,7
5802052,2,1491,1509,0,220,0,5
5802053,2,1660,1658,1,121,0,5
5802054,2,1726,1776,1,9,0,3
5802055,2,1948,1992,2,200,0,11

In [9]:
df_sample.to_csv('../csv/bez_remisow.csv', index = False)